astroid==2.11.7
attrs==21.4.0
biopython==1.79
coverage==6.4.2
dill==0.3.5.1
et-xmlfile==1.1.0
gumpy==1.0.2
iniconfig==1.1.1
isort==5.10.1
lazy-object-proxy==1.7.1
mccabe==0.7.0
numpy==1.23.1
openpyxl==3.0.10
packaging==21.3
pandas==1.4.3
platformdirs==2.5.2
pluggy==1.0.0
py==1.11.0
pylint==2.14.5
pyparsing==3.0.9
pysam==0.19.1
pytest==7.1.2
pytest-cov==3.0.0
python-dateutil==2.8.2
pytz==2022.1
scipy==1.8.1
six==1.16.0
tomli==2.0.1
tomlkit==0.11.1
tqdm==4.64.0
wrapt==1.14.1
